* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
}

.container-2 {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    flex-wrap: wrap;
}

.container-4 {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    flex-wrap: wrap;
}

.container-6 {
    width: 600px;
    height: 600px;
    margin: 50px auto;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    flex-wrap: wrap;
}

.container-8 {
    width: 800px;
    height: 800px;
    margin: 50px auto;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    flex-wrap: wrap;
}

.container-10 {
    width: 1000px;
    height: 1000px;
    margin: 50px auto;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    flex-wrap: wrap;
}

.card-2, .card-4, .card-6, .card-8 {
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 16px;
    overflow: hidden;
}

.back-2, .front-2, .back-4, .front-4, .back-6, .front-6, .back-8, .front-8, .back-10, .front-10 {
    width: 100px;
    height: 100px;
    position: absolute;
    transition: 1s all;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 68px;
    color: aliceblue;
}

.back-2, .back-4, .back-6, .back-8, .back-10 {
    background-color: blueviolet;
    transform: perspective(900px) rotateY(-180deg);
}

.front-2, .front-4, .front-6, .front-8, .front-10 {
    background-color: indigo;
}

.card-2.flipped .front-2 {
    transform: perspective(900px) rotateY(180deg);
}

.card-2.flipped .back-2 {
    transform: perspective(900px) rotateY(0);
}

.card-4.flipped .front-4 {
    transform: perspective(900px) rotateY(180deg);
}

.card-4.flipped .back-4 {
    transform: perspective(900px) rotateY(0);
}

.card-6.flipped .front-6 {
    transform: perspective(900px) rotateY(180deg);
}

.card-6.flipped .back-6 {
    transform: perspective(900px) rotateY(0);
}

.card-8.flipped .front-8 {
    transform: perspective(900px) rotateY(180deg);
}

.card-8.flipped .back-8 {
    transform: perspective(900px) rotateY(0);
}

.card-10.flipped .front-10 {
    transform: perspective(900px) rotateY(180deg);
}

.card-10.flipped .back-10 {
    transform: perspective(900px) rotateY(0);
}

.timer-2, .timer-4, .timer-6, .timer-8, .timer-10 {
	width: 50px;
	height: 100px;
	border: 1px solid #000;
	background-color: blueviolet;
	float: left;
	margin: 70px auto;
}

.timer-2 {
    height: 20px;
}

.line-2, .line-4, .line-6, .line-8, .line-10 {
	height: 0%;
	width: 50px;
	border: 1px solid black;
	background-color: indigo;
}

.timer-4 {
	height: 350px;
}

.timer-6 {
	height: 500px;
}

.timer-8 {
	height: 700px;
}

.timer-10 {
	height: 1000px;
}